.container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.box {
    width: 220px;
    height: 400px;
    border: 2px solid black;
    padding: 10px;
}

h1 {
    text-align: center;
    font-family: Arial;
}

.justify {
    text-align: justify;
}
